@{ 
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

<div ng-app="StatisticApp">
    <ng-view>

    </ng-view>
</div>

<script src="~/Scripts/charts/Chart.js"></script>
<script src="~/Scripts/charts/angular-chart.js"></script>
<script src="~/app/AppStatistic/app.js"></script>
<script src="~/app/AppStatistic/Controllers/AppStatisticController.js"></script>
<script src="~/app/AppStatistic/Services/chartService.js"></script>
<script src="~/app/AppStatistic/Services/dataService.js"></script>
