        <!--Header-->
<div id="chat-window-header" class="portlet portlet-default" style="background-color: #f0ad4e;">
    <div class="portlet-heading">
        <div class="portlet-title">
            <span class="glyphicon glyphicon-comment" style="color:oldlace; font-size:1.2em;"></span>
            <div class="pull-right">
                <a onclick="HideChat()" href="#">
                    <span style="color:white; font-size:1.2em;" class="glyphicon gly glyphicon-minus "></span>
                </a>
                <a ng-click="EndChat()" href="#">
                    <span style="color:white; font-size:1.2em;" class="glyphicon glyphicon-remove"></span>
                </a>
            </div>

        </div>
    </div>
</div>
<!--End Header-->

<div style="padding:5px;">
    <!--Agent Info-->
        <div class="row">
            <div class="col-xs-3" style="padding-right:0px;">

                    <a href="agent.seeProfile()"> 
                        <img ng-src="{{agent.PhotoUrl}}" class="img-thumbnail" style="height:50px; width:auto;" />
                    </a>

            </div>
            <div class="col-xs-6" style="padding-left:0px;">
                <div>{{agent.Name}}</div>
                <div>{{agent.Rank}}</div>
            </div>
         </div>
      
     <!--End Agent Info-->

    <!-- Chat body-->
        <div class="panel panel-default panel-body" style="overflow-y: auto; height:200px; margin-top:7px; margin-bottom:3px;">
            <ul style="list-style-type:none; padding-left:5px;">
                <li ng-repeat="message in Messages">
                    <div class="header">
                        <strong class="primary-font">{{message.UserName}}</strong> <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span> {{message.Time}}
                        </small>
                    </div>
                    <p style="padding-left:15px;"> {{message.ChatMessage}} </p>
                </li>
            </ul>
        </div>
 <!--End Chat body-->

    <div class="">
        <textarea id="message" type="text" ng-model="message" ng-enter="sendMessage()" class="form-control" placeholder="Введите сообщение и нажмите enter..." style="height:60px; resize: none;"/>
    </div>
</div>
