    <div class="row clearfix" style="padding:0px 15px;">
        <div id="world-map-panel" class="panel panel-default">
            <div class="panel-heading">
                <h4>Распределение пользователей чата на карте</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-8 mv-15">
                    <br />
                    <div id="world-map" style="height: 360px">

                    </div>
                </div>

                <div class="col-md-4 pv-10">
                    <div class="panel">
                        <div class="panel-body text-bold text-center">
                            <p class="nm">THIS YEAR TOTAL ORDER ($)</p>
                            <h4 class="nm pv-10 text-primary text-bold"> $6,84,545 </h4>
                        </div>
                        <div class="panel-footer np">
                            <ul class="nav nav-section nav-justified">
                                <li>
                                    <div class="section">
                                        <h4 class="text-info text-bold"> 12560 </h4>
                                        <p> OHIO </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="section">
                                        <h4 class="text-success text-bold"> 12560 </h4>
                                        <p> NEW YORK </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="section">
                                        <h4 class="text-danger text-bold"> 12560 </h4>
                                        <p>FLORIDA</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <span class="text-small">In Queue <span class="pull-right"> 45% </span> </span>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope" value="68" type="info">
                            <div class="progress-bar progress-bar-info" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="68%" ng-transclude="" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">Shipped Products <span class="pull-right"> 350/500 </span> </span>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope" value="68" type="primary">
                            <div class="progress-bar progress-bar-primary" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="68%" ng-transclude="" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">Returned Products<span class="pull-right"> 50/500 </span> </span>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope" value="68" type="warning">
                            <div class="progress-bar progress-bar-warning" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="68%" ng-transclude="" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">Pending Deliveries<span class="pull-right"> 150/500 </span> </span>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope" value="68" type="danger">
                            <div class="progress-bar progress-bar-danger" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="68%" ng-transclude="" style="width: 68%;"></div>
                        </div>
                        <span class="text-small">Project 2 <span class="pull-right"> 32% </span> </span>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope" value="68" type="info">
                            <div class="progress-bar progress-bar-info" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="68%" ng-transclude="" style="width: 68%;"></div>
                        </div>
                    </div>
              
                  </div>

            </div>
        </div>
    </div>
