
<div class="col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Пользователи используют чат:</h4>
        </div>
        <div class="panel-body">
            <ul class="list-inline text-center">
                <li class="left-easypiechart-data"> <span class="sell-percent">65%</span> <span style="font-size:14px;">Многоразово</span> </li>
                <li>
                    <span class="chart" data-percent="65">
                        <span class="percent"></span>
                    </span>
                </li>
                <li class="right-easypiechart-data np"> <span class="sell-percent">35%</span> <span>Единоразово</span> </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Пользователи авторизируються:</h4>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <div id="authorize-chart" style="width: 100%; height: 120px;">

                </div>
            </div>
        </div>
    </div>
</div>
