
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterOperatorSuccess</title>
</head>
<body>
    <div><h2>Congradulations!</h2></div>
    <p>
        <h4>You have successfully registrated new operator.</h4>
        <div><h4>Do you want to registrate one more operator?</h4></div>

        <h4> You can <a href="~/Account/RegisterOperator">register one more operator</a> or go to Onwer info page <a href="~/Owner/OwnerInfo">here.</a></h4>
</body>

</html>
