@model WebChat.WebUI.ViewModels.Shared.RegisterViewModel
@using WebChat.WebUI.WebApp.Extentions
@{
    ViewBag.Title = "Регистрация";
}

<h4 class="text-center">Сойдате аккаунт</h4>
<hr />

<div class="row">
    <div class="col-md-6 col-centered">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.PartialFor(model => model, "~/Views/Account/_Register.cshtml")


            <div class="form-group">
                <div class="col-md-offset-7">
                    <input type="submit" class="btn btn-primary" value="Продолжить" />
                </div>
            </div>

            <div class="col-md-offset-4">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        }
    </div>
</div>
