body {
    padding-top: 0px;
    padding-bottom: 0px;
}

html, body {height: 100%;}
#wrap {min-height: 100%;}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.div-container{
    padding-top:10px;
    padding-bottom:10px;
}

.chat-header {
    background-color: #f0ad4e;
}

.chat-footer {
    position:absolute;
    height:10px;
    bottom:0px;
    right: 0;
    left: 0;
    border:medium;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px; 
}

.frameOverlay {
     height: 100%;
     width: 100%;
     background: rgba(34, 34, 34, 0.5); // transparent is an option or a color
     position: absolute;
     top: 0;
     left: 0;
     display: none;
}

.portlet {
    margin-bottom: 5px;
    border: 1px thin;
}

.portlet .portlet-heading {
    padding: 0 10px;
}

.portlet .portlet-title {
    padding-bottom:3px;
    padding-top:3px;
}

#main {
  overflow:auto;
  padding-bottom: 0px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -20px; /* negative value of footer height */
  height: 20px;
  clear:both;
}