<div class="page ng-scope">
    <div class="well">
        <div class="row">
            <div class="col-sm-8">
                <input placeholder="Кого нужно найти?" class="form-control" type="text">
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Работают с</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" id="source">
                            <option value="Name">всеми чатами</option>
                            <option value="position">Position</option>
                            <option value="company">Company</option>
                        </select>
                    </div>                   
                </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user2.png" alt="" class="img-thumbnail img-circle">
                        <h4>Semantha Armstrong</h4>
                        <span>UX Designer</span>
                        <!--/ panel body -->
                    </div>
                </div>
                <div class="panel-footer np nb">
                    <ul class="menu-items">
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-bell-o fa-lg"></i> New notifications <span class="label label-danger label-circle pull-right">82</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-user fa-lg"></i> Edit profile <span class="label label-success label-circle pull-right">13</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-calendar fa-lg"></i> Calendar <span class="label label-warning label-circle pull-right">12</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-envelope fa-lg"></i> New message <span class="label label-primary label-circle pull-right">44</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user1.png" alt="" class="img-thumbnail img-circle">
                        <h4>Jonathan Smith</h4>
                        <span>Web Developer</span>
                        <!--/ panel body -->
                    </div>
                </div>
                <div class="panel-footer np nb">
                    <ul class="menu-items">
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-bell-o fa-lg"></i> New notifications <span class="label label-danger label-circle pull-right">82</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-user fa-lg"></i> Edit profile <span class="label label-success label-circle pull-right">13</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-calendar fa-lg"></i> Calendar <span class="label label-warning label-circle pull-right">12</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-envelope fa-lg"></i> New message <span class="label label-primary label-circle pull-right">44</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user4.png" alt="" class="img-thumbnail img-circle">
                        <h4>Albert Decosta</h4>
                        <span>Co-Founder</span>
                        <!--/ panel body -->
                    </div>
                </div>
                <div class="panel-footer np nb">
                    <ul class="menu-items">
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-bell-o fa-lg"></i> New notifications <span class="label label-danger label-circle pull-right">82</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-user fa-lg"></i> Edit profile <span class="label label-success label-circle pull-right">13</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-calendar fa-lg"></i> Calendar <span class="label label-warning label-circle pull-right">12</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-envelope fa-lg"></i> New message <span class="label label-primary label-circle pull-right">44</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <!-- panel body -->
                        <img src="images/photos/user6.png" alt="" class="img-thumbnail img-circle">
                        <h4>Jonathan</h4>
                        <span>Sr. Developer</span>
                        <!--/ panel body -->
                    </div>
                </div>
                <div class="panel-footer np nb">
                    <ul class="menu-items">
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-bell-o fa-lg"></i> New notifications <span class="label label-danger label-circle pull-right">82</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-user fa-lg"></i> Edit profile <span class="label label-success label-circle pull-right">13</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-calendar fa-lg"></i> Calendar <span class="label label-warning label-circle pull-right">12</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="clearfix">
                                <i class="fa fa-envelope fa-lg"></i> New message <span class="label label-primary label-circle pull-right">44</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
