
@model string

<br />
<p>
    Встройте этот скрипт себе на сайт сразу перед окончанием тега body:
</p>

<div class="well">
    <div class="text-center">
        <textarea cols="90" rows="13" readonly style="resize:none; white-space: pre-line; max-width:1000px">
            @{@Model}           
        </textarea>
    </div>   
</div>

