@{ 
    Layout = null;
}
    
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div style="margin: 0px; padding: 0px;">
    <div id="content-container" style="display:block">	
        <div id="content">
        	<a id="full-view-button" href="#"  style="padding: 6px 15px;">                            
                <span class="glyphicon glyphicon-envelope right"></span>
                 Оставьте сообщение
            </a>	
        </div>
    </div>
</div>

<script>
    jQuery('#full-view-button').click(function () {
        var targetUrl = localStorage.getItem("webChatTargetUrl");
        parent.postMessage({ key: 'open_chat_window' }, targetUrl);
    });
</script>

<style>
    #content-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	line-height: 22px;
}

#content {
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}

#content #full-view-button {
	display: block;
	position: relative;
	padding: 0;
	outline: 0;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
#content #open-label {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

 #content #open-icon {
	float: right;
	position: relative;
}

#content { background-color: #f0ad4e; }
</style>


