<h4>Вы успешно авторизовались</h4>
<script>
    window.onload = function () {
        window.opener.parent.postMessage({key: "setUrl", value:'@(ViewBag.ReturnUrl)' },
                                        localStorage.getItem("webChatTargetUrl")); 
        window.close();
    };
</script>