
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChatClientLayout.cshtml";
}

<div id="wrap" ng-app="chatApp" style="zoom: 1; visibility: visible;">
    <div id="main" ng-view>

    </div>
</div>

