@{ 
    Layout = null;
}
    

<div style="margin: 0px; padding: 0px;">
    <div id="content-container" style="display:block">	
        <div id="content">
        	<a id="full-view-button" href="#"  style="padding: 6px 15px;">                            
                <span class="glyphicon glyphicon-envelope right"></span>
                 Оставьте сообщение
            </a>	
        </div>
    </div>
</div>

<script>
    jQuery('#full-view-button').click(function () {
        var targetUrl = localStorage.getItem("webChatTargetUrl");
        parent.postMessage({ key: 'open_chat_window' }, targetUrl);
    });
</script>




