<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <!--Css-->
    <link rel="stylesheet" href="../../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../Content/Chat/ChatLayoutStiles.css" />
    <link rel="stylesheet" href="../../../Content/font-awesome.css">
    <!--Js-->
    <script src="../../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../../Scripts/jquery.validate.min.js"></script>
    <script src="../../../Scripts/bootstrap.min.js"></script>
    <script src="../../../Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="../../../signalr/hubs"></script>
    <script src="../../../Scripts/angular.js"></script>
    <script src="../../../Scripts/angular-route.js"></script>
    <script src="../../../Scripts/angular-resource.js"></script>
    <script src="../../../Scripts/angular-signalr-hub.js"></script>
    <script src="../../../app/AgentChat/app.js"></script>
    <script src="../../../app/AgentChat/Controllers/chatListController.js"></script>
    <script src="../../../app/AgentChat/Controllers/chatController.js"></script>
    <script src="../../../app/AgentChat/Services/dataService.js"></script>
    <script src="../../../app/AgentChat/Services/chatService.js"></script>
</head>
<body ng-app="chatApp">
    <div >
        <div class="row">
            <div class="col-xs-3"><!--Dialog Navigation-->
                <div ng-controller="chatListController">
                    <ul ng-repeat="dialog in Dialogs">
                        <li>
                            <a href="#/dialog/id:{{dialog.DialogId}}">{{dialog.Client.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div><!--End Dialog Navigation-->
            <div class="col-xs-6"><!--Active Dialog-->
                <div ng-view>

                </div>
            </div><!--End Active Dialog-->
        </div>

    </div>
</body>
</html>
