<footer id="main-footer">
    <div class="text-center">
        <p style="padding: 5px;">&copy; @DateTime.Now.Year - WebChat Develop Team</p>
    </div>     
</footer>

<script>
        function NotifyError(message) {
            $("#main-footer").notify(message, { position: "top center", className: "error" });
        }
</script>
