<div class="col-md-2">
    <nav class="navmenu navmenu-default" role="navigation">
        <ul class="nav navmenu-nav">
            <li class="active">@Html.ActionLink("Главная", "OwnerInfo", "Owner")</li>
            <li>@Html.ActionLink("Агенты", "OwnerAgents", "Owner")</li>
        </ul>
    </nav>
</div>
