@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

    <div class="container">
        @Html.Partial("_MenuPartial")
        <div style="padding-left: 0; padding-top: 0;" class="col-md-10">

            <h3>Управление аккаунтом</h3>
            <div class="container">
                переназначение агентов к app<br/>
                редактирование app<br/>

            </div>
        </div>
    </div>

