<div class="row body-content">
    <div class="col-sm-offset-2 col-md-offset-1">

        <!-- START TIMELINE -->
        <div class="timeline timeline-right">

            <!-- START TIMELINE ITEM -->
            <div class="timeline-item timeline-main">
                <div class="timeline-date">2015</div>
            </div>
            <!-- END TIMELINE ITEM -->
            <!-- START TIMELINE ITEM -->
            <div class="timeline-item timeline-item-right">
                <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
                <div class="timeline-item-content">
                    <div class="timeline-heading"> <img src="images/photos/user2.png"> John Doe posted a new blog. </div>
                    <div class="timeline-body">
                        <img src="images/gallery/image1.png" class="img-text" width="150" align="left">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                    </div>
                    <div class="timeline-body comments">
                        <div class="comment-item">
                            <img src="images/photos/user5.png">
                            <p class="comment-head"> Brad Pitt <span class="text-muted"></span> </p>
                            <p>Awesome, man, that is awesome...</p>
                            <small class="text-muted">10h ago</small>
                        </div>
                        <div class="comment-write">
                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        <a href="javascript:void(0)">Read more</a>
                        <div class="pull-right"> <a href="javascript:void(0)"><span class="fa fa-comment"></span> 35</a> <a href="javascript:void(0)"><span class="fa fa-share"></span></a> </div>
                    </div>
                </div>
            </div>
            <!-- END TIMELINE ITEM -->
            <!-- START TIMELINE ITEM -->
            <div class="timeline-item timeline-item-right">
                <div class="timeline-item-icon"><span class="fa fa-users"></span></div>
                <div class="timeline-item-content">
                    <div class="timeline-heading" style="padding-bottom: 10px;"> <img src="images/photos/user1.png"> Shirley Anderson started following <img src="images/photos/user3.png"> <img src="images/photos/user4.png"> </div>
                    <div class="timeline-body comments">
                        <div class="comment-write">
                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TIMELINE ITEM -->
            <!-- START TIMELINE ITEM -->
            <div class="timeline-item timeline-item-right">
                <div class="timeline-item-icon"><span class="fa fa-image"></span></div>
                <div class="timeline-item-content">
                    <div class="timeline-heading"> <img src="images/photos/user3.png"> Jonathan Anderson Uploaded 5 images </div>
                    <div class="timeline-body" id="links">
                        <div class="row">
                            <div class="col-md-4"> <a href="images/gallery/image1.png" title="Nature Image 1" data-gallery=""> <img src="images/gallery/image1.png" class="img-responsive img-text"> </a> </div>
                            <div class="col-md-4"> <a href="images/gallery/image2.png" title="Nature Image 2" data-gallery=""> <img src="images/gallery/image2.png" class="img-responsive img-text"> </a> </div>
                            <div class="col-md-4"> <a href="images/gallery/image3.png" title="Nature Image 3" data-gallery=""> <img src="images/gallery/image3.png" class="img-responsive img-text"> </a> </div>
                        </div>
                    </div>
                    <div class="timeline-body comments">
                        <div class="comment-item">
                            <img src="images/photos/user4.png">
                            <p class="comment-head"> <a href="javascript:void(0)">John Doe</a> <span class="text-muted"></span> </p>
                            <p>Amazing! Web App Mockup Dude</p>
                        </div>
                        <div class="comment-write">
                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TIMELINE ITEM -->
            <!-- START TIMELINE ITEM -->
            <div class="timeline-item timeline-item-right">
                <div class="timeline-item-icon"><span class="fa fa-star"></span></div>
                <div class="timeline-item-content">
                    <div class="timeline-heading" style="padding-bottom: 10px;"> <img src="images/photos/user3.png"> Jonathan Smith completed the task “Application UI Re-design” within the dead line </div>
                    <div class="timeline-body comments">
                        <div class="comment-item">
                            <img src="images/photos/user6.png">
                            <p class="comment-head"> <a href="javascript:void(0)">Dmitry Ivaniuk</a> </p>
                            <p>Welldone Bro :) </p>
                            <small class="text-muted">5 min ago</small>
                        </div>
                        <div class="comment-write">
                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TIMELINE ITEM -->
            <!-- START TIMELINE ITEM -->
            <div class="timeline-item timeline-item-right">
                <div class="timeline-item-icon"><span class="fa fa-star"></span></div>
                <div class="timeline-item-content">
                    <div class="timeline-heading" style="padding-bottom: 10px;"> <img src="images/photos/user5.png"> <a href="javascript:void(0)">John Doe</a> joined group <a href="javascript:void(0)">Web Developers</a> </div>
                    <div class="timeline-body comments">
                        <div class="comment-item">
                            <img src="images/photos/user6.png">
                            <p class="comment-head"> <a href="javascript:void(0)">Dmitry Ivaniuk</a> <span class="text-muted"></span> </p>
                            <p>You r welcome my friend :)</p>
                            <small class="text-muted">5 min ago</small>
                        </div>
                        <div class="comment-item">
                            <img src="images/photos/user7.png">
                            <p class="comment-head"> <a href="javascript:void(0)">John Doe</a> <span class="text-muted"></span> </p>
                            <p>Thank you, Dmitry!!! ;)</p>
                        </div>
                        <div class="comment-write">
                            <textarea class="form-control" placeholder="Write a comment" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
