@model IEnumerable<WebChat.WebUI.ViewModels.Agent.AgentShortInfoViewModel>

<div class="page ng-scope">
    <div class="row">
        @foreach (var agent in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <!-- panel body -->
                            <img src="@agent.PhotoSource" style="height:180px;" class="img-thumbnail img-circle">
                            <h4>@agent.Name</h4>
                            <!--/ panel body -->
                        </div>
                    </div>
                    <div class="panel-footer np nb">
                        <ul class="menu-items">
                            <li>
                                <a href="javascript:void(0)" class="clearfix">
                                    <i class="fa fa-star-o fa-lg"></i> оценка пользователей <span class="label label-danger label-circle pull-right">@agent.Rating</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="clearfix">
                                    <i class="fa fa-comment-o fa-lg"></i> Диалогов всего <span class="label label-warning label-circle pull-right">@agent.DialogsCount</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="clearfix">
                                    <i class="fa fa-user fa-lg"></i> Профиль 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

