@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h2 style="padding-top:20px;">Apriorit Web Chat!</h2>      
    </div>   
</div>

<div class="row">
        <div class="col-xs-4">
            <span class="number">1</span>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <h4 class="pull-left" style="font-size:x-large">Зарегиструйте свой сайт</h4>
            </div>
            <p class="text-muted col-md-8">
                Вам необходимо зерегистровоать один или несколько сайтов на которых вы хотите использовать Apriorit Web Chat
            </p>
         </div>   
</div>
<div class="row">
    <div class="col-xs-4">
        <span class="number">2</span>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <h4 class="pull-left" style="font-size:x-large">Создайте операторов</h4>
        </div>
        <p class="text-muted col-md-8">
            Зарегистрируйте операторов, которые будут отвечать вашим клиентам.
        </p>       
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-4">
        <span class="number">3</span>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <h4 class="pull-left" style="font-size:x-large">Добавьте окно чата</h4>
        </div>
        <p class="text-muted col-md-8">
            Далее добавтье скрипт окна чата себе на сайт. Для каждого сайта будет уникальный скрипт.
        </p>
    </div>
</div>

<hr />

<div class="text-center">
    <h2 style="padding-top:20px; padding-bottom:40px;">Начните использовать Apriorit Web Chat!</h2> 
    <h4 style="padding-bottom:30px;">5-минтная настройка и чат будет на вашем сайте</h4>
    <div id="sign_up">
        @using (Html.BeginForm("RegisterCustomer", "Customer", FormMethod.Get, new {@id="sing-up-form", @class = "form-inline" }))
        {
        <div class="">
            <input type="email" id="new_email" class="form-control input-lg" name="email" required="required" placeholder="адрес эл. почты">
            <button type="submit" class="btn btn-lg btn-warning">
                Начать
            </button>
        </div>
    }
    </div>
</div>

<hr />

<div class="row text-center">
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-success"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Поддержка клиентов</h4>
        <p class="text-muted">Apriorit Web Chat Обеспечит надежный механизм поддерки ваших клиентов.</p>
    </div>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-info"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Управление</h4>
        <p class="text-muted">Вы можете управлять и настраивать чат для своих сайтов.</p>
    </div>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-danger"></i>
            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Аналитика</h4>
        <p class="text-muted">Просматривайте отчеты, графики и различную информацию о ваших клиентах и о работе операторов.</p>
    </div>
</div>

<script type="text/javascript">
        $.ready(function () {
            $('#sing-up-form').validate();
        });
</script>